body {
    margin: 0;
    padding: 0;

    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
}

header, 
.hero {
    background-color: #313b69;
    color: #575e7f;
}

header {
    display: flex;
    justify-content: space-around;
}

header h1 {
    font-size: 30px;
    font-style: italic;
}

header h1 span {
    font-size: 36px;
    color: #7d8195;
}

nav {
    display: flex;
    gap: 2em;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

main {
    margin-top: -20px;
}

.hero {
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.hero img {
    height: 200px;
    width: 600px;
}

.button-signup {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 32px;
    border-style: none;
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
}