* {
    font-family: 'Orbitron', sans-serif;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

header, 
.hero {
    background-color: #313b69;
    color: #575e7f;
}

header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

header h1 {
    font-size: 30px;
    font-style: italic;
}

header h1 span#moon {
    background-color: #7d8195;
    height: 25px;
    width: 25px;
    font-size: 30px;
    border-radius: 50%;
    display:inline-block;
    margin: 10px;
}

header h1 span {
    font-size: 36px;
    color: #7d8195;
}

nav {
    display: flex;
    gap: 2em;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

main {
    margin-top: -20px;
}

.hero {
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.hero img {
    height: 300px;
    width: 400px;
}

.button-signup {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 32px;
    border-style: none;
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h2 {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.info-card img {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 20%;
    border-color: #575e7f;
}

.info-card figcaption {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937
}

.action {
    margin: 100px;
}

.call-to-action {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    margin-left: 500px;
    margin-right: 500px;
}

.call-to-action .button-signup {
    border-style: solid;
    border-color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

footer img {
    height: 64px;
    width: 64px;
}